$className: 'bikes__list';

.#{$className} {
  display: flex;
  margin-top: 120px;
  gap: 30px;
}

@include breakPoint($className, $mobile) {
  margin-top: 90px;
  gap: 20px;
}

@include breakPoint($className, $smallMobile) {
  display: none;
}
