$className: 'hero__pointer';

.#{$className} {
  margin-top: 169px;
  font-size: $primaryFontSize;
  line-height: 1;
  color: var(--var-secondary-font-color);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    margin: 0;
    width: 132px;
    height: 2px;
    left: 224px;
    top: 8px;
    background: #d7d4d4;
  }
}

@include breakPoint($className, $smallDesktop) {
  margin-top: 80px;
}

@include breakPoint($className, $smallTablet) {
  display: none;
}
