$className: 'content__title';

.#{$className} {
  font-family: $primaryFontFamily;
  font-size: $primaryTitleFontSize;
  line-height: $primaryTitleLineHeight;
  font-weight: $primaryTitleFontWeight;
  color: $secondaryFontColor;
  letter-spacing: -0.5px;
}

@include breakPoint($className, $tablet) {
  font-size: $primaryTitleFontSizeTablet;
}

@include breakPoint($className, $smallTablet) {
  font-size: $primaryTitleFontSizeSmallTablet;
}

@include breakPoint($className, $smallMobile) {
  font-size: $primaryTitleFontSizeSmallMobile;
  line-height: $primaryTitleLineHeightSmallMobile;
}
