$className: 'bikes__selector';

.#{$className} {
  display: none;
  margin: 40px 18px 0;
  width: 114px;
  height: 30px;
  border: 1px solid #e3e3e3;
  background-color: transparent;
  font-size: 11px;
  line-height: $secondaryNavLineHeight;
  font-weight: $secondaryTitleFontWeight;
  padding-left: 8px;
}

@include breakPoint($className, $smallMobile) {
  display: block;
}
