//шрифты
$primaryFontFamily: 'Inter', Arial, sans-serif;

//цвета
$backgroundColor: #f4f4f4;
$primaryFontColor: #222;
$secondaryFontColor: #151515;
$btnColor: #24b47e;
$hoveredBtnColor: #319e75;

// Размеры
$primaryTitleFontSize: 55px;
$primaryTitleLineHeight: 1.1;
$primaryTitleFontWeight: 700;
$secondaryTitleFontSize: 34px;
$primaryFontSize: 18px;
$primaryLineHeight: 1.6;
$primaryFontWeight: 400;
$secondaryNavFontSize: 14px;
$secondaryNavLineHeight: 1.3;
// Разрешения
$smallDesktop: 1200px;
$tablet: 1023px;
$mobile: 767px;
$smallMobile: 580px;
