//шрифты
$primaryFontFamily: 'Inter', Arial, sans-serif;

//цвета
$backgroundColor: #f4f4f4;
$primaryFontColor: #222;
$secondaryFontColor: #151515;
$btnColor: #24b47e;
$hoveredBtnColor: #319e75;

// Разрешения
$smallDesktop: 1200px;
$tablet: 1023px;
$mobile: 767px;
$smallMobile: 580px;
