$className: 'bikes__caption';

.#{$className} {
  font-size: $primaryFontSize;
  font-weight: $secondaryTitleFontWeight;
  line-height: 1.2;
  margin-top: 22px;
  margin-left: 6px;
}

@include breakPoint($className, $mobile) {
  grid-row: 1;
  grid-column: 1;
  align-self: end;
  text-align: center;
  padding: 16px;
  font-size: $secondaryNavFontSize;
  line-height: $secondaryNavLineHeight;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@include breakPoint($className, $smallMobile) {
  font-size: $primaryFontSize;
  font-weight: $secondaryTitleFontWeight;
}

@include breakPoint($className, 400px) {
  font-size: $secondaryNavFontSize;
  line-height: $secondaryNavLineHeight;
}
