$className: 'content__text';

.#{$className} {
  font-family: $primaryFontFamily;
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;
  font-weight: $primaryFontWeight;
  color: $primaryFontColor;
  opacity: 70%;
  max-width: 460px;
}

@include breakPoint($className, $smallMobile) {
  font-size: $primaryFontSizeMobile;
  line-height: $primaryLineHeightMobile;
  max-width: 100%;
}
