$className: 'bikes__nav-link';

.#{$className} {
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;
  font-weight: $primaryFontWeight;
  opacity: 0.7;
  color: $primaryFontColor;
  transition: all 0.2s;

  &:hover {
    opacity: 0.6;
  }
}

@include breakPoint($className, 650px) {
  font-size: $primaryFontSizeMobile;
  line-height: $primaryLineHeightMobile;
  font-weight: $primaryFontWeight;
}
