$className: 'bikes__image';

.#{$className} {
  width: 100%;
  height: auto;
  object-fit: scale-down;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 140px rgba(0, 0, 0, 0.11);
  background-color: $backgroundColor;
}

@include breakPoint($className, $mobile) {
  grid-row: 1;
  grid-column: 1;
}
