$className: 'content__section_place_workout';

.#{$className} {
  padding-top: 150px;
  padding-bottom: 120px;
}

@include breakPoint($className, $mobile) {
  padding-top: 60px;
  padding-bottom: 80px;
}

@include breakPoint($className, $smallMobile) {
  padding-top: 40px;
  padding-bottom: 60px;
}
