$className: 'content__section_place_quote';

.#{$className} {
  padding-top: 117px;
  padding-bottom: 60px;
}

@include breakPoint($className, $mobile) {
  padding-top: 60px;
}

@include breakPoint($className, $smallMobile) {
  padding-top: 20px;
  padding-bottom: 80px;
}
