$className: 'workout__link';

.#{$className} {
  font-weight: 600;
  font-size: $primaryFontSize;
  line-height: $primaryLineHeight;
}

@include breakPoint($className, $mobile) {
  font-size: $secondaryNavFontSize;
  line-height: 1.4;
}
