$className: 'footer__form-submit';

.#{$className} {
  display: none;
  position: absolute;
  top: 0;
  right: 16px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: $secondaryFontColor;
  font-size: 13px;
  font-weight: 500;
  line-height: 2;
}
