$className: 'header__nav';

@include breakPoint($className, $smallMobile) {
  display: flex;
  visibility: hidden;
  opacity: 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--var-bg-color);
  position: fixed;
  overflow: hidden;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: $animationSpeed;
  transform: translate(100%, 0);
}
