$className: 'footer__logo';

.#{$className} {
  display: none;
  background: no-repeat url(../images/footer-logo.svg);
  width: 38px;
  height: 38px;
  opacity: var(--var-logo-opacity);
}

@include breakPoint($className, $smallMobile) {
  display: block;
}
