$className: 'header__burger-elements';

.#{$className} {
  display: none;
  width: 22px;
  height: 3px;
  background-color: var(--var-btn-ico-color);
  cursor: pointer;
  transition: transform 0.1s;
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-4px);

  &:before {
    content: '';
    width: 22px;
    height: 3px;
    background: var(--var-btn-ico-color);
    background-color: transparent;
    height: 16px;
    border-top: 3px solid var(--var-btn-ico-color);
    position: absolute;
    transform: translateY(-8px);
    transition: 0.4s;
  }
  &:after {
    content: '';
    width: 22px;
    height: 3px;
    background-color: var(--var-btn-ico-color);
    position: absolute;
    transform: translateY(8px);
    transition: 0.4s;
  }
}

@include breakPoint($className, $smallMobile) {
  display: block;
}
