$className: 'bikes__slider';

.#{$className} {
  display: none;
}

@include breakPoint($className, $smallMobile) {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed red;
  height: 306px;
}
