$className: 'roads__nav-btn_type_next';

.#{$className} {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    left: 18px;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: rgba(21, 21, 21, 1);
    transform: rotate(45deg);
  }
}

@include breakPoint($className, $smallMobile) {
  background-position: 10px;
  background-size: 25%;
  &::before {
    top: 8px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-top: 1.2px solid;
    border-right: 1.2px solid;
  }
}
