$className: 'roads__nav-btn_type_prev';

.#{$className} {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 19px;
    right: 18px;
    width: 10px;
    height: 10px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: var(--var-btn-ico-color);
    transform: rotate(-135deg);
  }
}

@include breakPoint($className, $smallMobile) {
  background-position: 8px;
  background-size: 25%;
  &::before {
    top: 8px;
    right: 7px;
    width: 6px;
    height: 6px;
    border-top: 1.2px solid;
    border-right: 1.2px solid;
  }
}
