$className: 'bikes__nav-list';

.#{$className} {
  display: flex;
  gap: 40px;
}

@include breakPoint($className, 650px) {
  gap: 20px;
}

@include breakPoint($className, $smallMobile) {
  display: none;
}
